<div class="container">

<h1 class="turkeyHuntHead">Turkey Hunts</h1>

<div class="row">
	<div class="col-md-6">
		<div class="turkeyText">
<p>Our turkey hunts take place on thousands of acres of prime turkey country that only you and your guide will have exclusive access to.   These are 2X1 guided hunts in which your guide will be along with you every step of the way.  The guide can do all the calling or he can accompany you through the field while you do your own calling.
</p>

<p>Our properties are chock full of trophy south Texas Rio Grande Gobblers.  These hunts bring a whole new meaning to the word exciting.  They are adrenaline filled adventures that produce heart pounding experiences.  
</p>
		</div>
	<div>
		<h3 class="underlineThis">Turkey Hunt Pricing</h3>
		<div class="turkeyPrice">
			<ul>
				<li>1 Gobbler: $1,100</li>
				<li>$300 for additional Turkeys (if available)</li>
				<li>1×1 Guided: Additional $175/day</li>
			</ul>
		</div>




	</div>
		<br>
		<div class="bookButton">
		<a href="mailto:clayton@dilleydove.com" class="btn btn-warning btn-lg" role="button">BOOK NOW!</a>
		</div>
	</div>
	<div class="col-md-6">
		<div class="turkeyImage">
			<%=image_tag("turkey_hunt2.jpeg")%>
		</div>
	</div>

</div>



</div>
