<div class="container">

<h1 class="turkeyHuntHead">Turkey Hunts</h1>

<div class="row">
	<div class="col-md-6">
		<div class="turkeyText">
<p>You and your guide will have exclusive access to thousands of acres of prime turkey country.  This is a 2×1 guided hunt; your guide will be along with you every step of the way.  Your guide will do all the calling, or if you wish, accompany you to the field while you do your own calling.  This is a very exciting hunt!  Our properties are full of big south Texas Rio Grande Gobblers.  This hunt will include meals, lodging, guides and transportation.  You will be able to harvest up to 2 mature Rio Grande gobblers on this hunt.
</p>

<h3 class="turkeyPrice">Turkey Hunt Pricing</h3>
<p>Includes Guide, 2 1/2days hunting and 3 nights lodging and meals. Up to two gobblers may be taken with extra birds available for purchase.</p>
<ul>
	<li>$1,500</li>
	<li>$300 for additional Turkeys (if available)</li>
	<li>1×1 Guided: Additional $175/day</li>
	<li>Non-Hunting guests $125 per night</li>
</ul>
		</div>
	<div>
		<h3 class="underlineThis">What’s not included</h3>
		<div class="turkeyNotIncluded">
			<ul>
				<li>Personal items (toiletries)</li>
				<li>Alcoholic beverages</li>
				<li>Gratuities for guides/staff</li>
			</ul>
			<p>Don’t see a hunting package that meets your needs or budget? Give us a call and we can put together any package for any budget!</p>
		</div>




	</div>
	</div>
		<br>
	<div class="col-md-6">
		<div class="turkeyImage">
			<%=image_tag("turkey_hunt3.jpg")%>
		</div>
	</div>

</div>

		<div class="bookButton">
		<a href="mailto:clayton@dilleydove.com" class="btn btn-warning btn-lg" role="button">BOOK NOW!</a>
		</div>

<br>
</div>
