<div class="container">

<h1 class="doveHuntHead">Dove Hunts</h1>

<div class="row">

		<div class="col-md-4">
		<div class="doveImage">
			<%=image_tag("dove_hunt.jpg")%>
		</div>
	</div>

	<div class="col-md-8">
		<div class="doveText">
<p>
	We offer extraordinary options for both day hunts and hunt packages that include lodging.</p>

<p>With 7 lodges available that can accommodate over 150 hunters, we can handle groups of all sizes.  Whether it’s a family outing,  a getaway with friends, or a large corporate event, we’ve got you covered!</p>

<p>Lodge hunt packages will include meals and amenities. </p>

<p>Access to thousands of acres of peanuts, milo, wheat, sunflowers and sesame will provide you and your group with plenty of opportunities to bag your limits during a stellar dove hunt.  </p>

<p>For all dove hunts, hunters will follow their guide out to the field where they will be able to spend the day (or however long it takes them to get their limits). </p>

<p>Day hunters will meet their guide in town prior to being escorted to one of our previously scouted dove fields.
</p>
		</div>
	<div>
		<h3 class="underlineThis">Dove Hunt Pricing</h3>
		<div class="doveAdditional">
			<ul>
				<li>Lodge Hunts: $600 for a 2 day/ 2 night</li>
				<li>Day Hunts: $100 per man/per day</li>
			</ul>
		</div>

	</div>
	
		<div class="bookButton">
		<a href="mailto:clayton@dilleydove.com" class="btn btn-warning btn-lg" role="button">BOOK NOW!</a>
		</div>
	</div>


</div>



</div>
