<div class="container">

<h1 class="doveHuntHead">Dove Hunts</h1>

<div class="row">

		<div class="col-md-4">
		<div class="doveImage">
			<%=image_tag("dove_hunt.jpg")%>
		</div>
	</div>

	<div class="col-md-8">
		<div class="doveText">
<p>
	With 7 lodges and sleeping for over 150, we can handle groups of all sizes.  Be it a family outing, get away with friends or the largest of cooperate outings.  With access to thousands of acres of peanuts, milo, wheat, sunflowers and sesame you will have ample opportunities to get your limits on your
south Texas dove hunt.  On this hunt you will follow your guide out to the field where you will be
able to spend the day (or however long it takes you to get a limit). Lodge hunts will include meals
and the use of the lodge grounds. For the day hunts, you will stay at a local hotel and we will meet
you in town to take you to one of our previously scouted dove fields.
</p>
		</div>
	<div>
		<h3 class="underlineThis">Dove Hunt Pricing</h3>
		<div class="doveAdditional">
			<ul>
				<li>Catered Lodge Hunts: $600 for a 2-day/ 2 night</li>
				<li>Non-Catered Lodge Hunts: $450 for a 2-day/2 night.</li>
				<li>Day Hunts: $125 per man/per day</li>
			</ul>
			<div class="doveAdditional">
				<p>Each lodge will have a minimum head count that will need to be met. Please view our
booking/deposit page to see each lodge’s minimum. Lodging can be booked with fewer people, but
will be billed as the lodge minimum.</p>
			</div>
		</div>
		<h3 class="underlineThis">What's not included</h3>
		<div class="doveAdditional">
			<ul>
				<li>Personal items (toiletries)</li>
				<li>Alcoholic beverages</li>
				<li>Gratuities for guides/staff</li>
			</ul>
			<p>Don’t see a hunting package that meets your needs or budget? Give us a call and we can put
together any package for any budget!</p>
		</div>
	</div>
	
		<div class="bookButton">
		<a href="mailto:clayton@dilleydove.com" class="btn btn-warning btn-lg" role="button">BOOK NOW!</a>
		</div>
	</div>


</div>



</div>
