<div class="container">
	<h1 class="whatToBringHead">Essentials For Your Dilley Dove Hunting Adventure</h1>

	<div class="whatToBringList">
		<ul>
			<li>Weapon of your choice appropriate for the game you will be hunting, along with plenty of ammunition.</li>
			<li>Appropriate footwear, clothing and camouflage for the time of year.</li>
			<li>A valid Texas Hunting license with appropriate stamps</li>
			<li>An ice chest to transport game back home</li>
		</ul>
		<br>
		<h5>Please come prepared for all types of weather conditions.</h5>
	</div>
		<br>
	<div class="whatToBringList">
		<h5 class="whatToBringUnderline">What's Not Included</h5>
		<ul>
			<li>Personal items (toiletries)</li>
			<li>Alcoholic beverages</li>
			<li>Gratuities for guides/staff</li>
		</ul>
	</div>
</div>




