<div class="container">

<h1 class="lowFence">Low Fence Farm Hunts</h1>


<div class="row">

		<div class="col-md-4">
		<div class="lowFenceImage">
			<%=image_tag("lowFenceDeer2.jpg")%>
		</div>
	</div>

	<div class="col-md-8">
		<div class="lowFenceText">
<p>
	Throughout or years of farming we have been able to attract a few animals.  With the South Texas drought over the past 5 years, we have experienced an influx of deer and hogs.  It’s in our best interest, and yours, to remove these animals from our farm country.  This hunt in unguided.  You will be hunting from a blind with feeder as well as acres and acres of farm country.  A guide will escort you to the hunting location and show you your boundaries.  From there, you are on your own.  This hunt is for rifle only. This hunt does not include meals or lodging, but you will have full access to our cleaning station.
</p>

<div class="lowFenceUnderlineHeaders">
	<h3>Hunt Cost</h3>
</div>
<ul>
	<li>$500 for two days of hunting with up to two does and unlimited hogs and predators.</li>
	<li>$500 for any buck taken.</li>
</ul>
<p>Meals and lodging can be added if available for an extra charge.</p>


		</div>
	</div>
</div>
<!---
<div class="row">
	<div class="lowFenceNeedMargin">
		<h3 class="lowFenceUnderlineHeaders">Low Fence Archery Hunt</h3>
	<div class="lowFenceMoreText">
		<p>This semi-guided hunt will have exclusive access to thousands of acres. This privately owned land has not been commercially hunted in over 9 years. This is a unique south Texas style of deer hunt, in which we will be hunting a mix of thick south Texas brush and large crop fields. The many acres of peanuts, corn, milo, wheat and oats keep our properties a hot spot for deer. This is a semi-guided hunt, where your guide will drop you off at previously scouted hunting locations, then will pick you back up when the hunt is finished. All lodging, meals, guide and ranch transportation are included in this hunt.  You will be able to take up to 1 buck of your choice, 1 doe and 1 hog. Archery only.</p>
	</div>
</div>
</div>

<div class="row">
<h3 class="lowFenceUnderlineHeaders">Low Fence Farm Hunt</h3>
<div class="lowFenceMoreText">
		<p>Throughout or years of farming we have been able to attract a few animals.  With the South Texas drought over the past 5 years, we have experienced an influx of deer and hogs.  It’s in our best interest, and yours, to remove these animals from our farm country.  This hunt in unguided.  You will be hunting from a blind with feeder as well as acres and acres of farm country.  A guide will escort you to the hunting location and show you your boundaries.  From there, you are on your own.  This can get fun!  You will be able to take up to 1 buck of your choice, 3 doe and 1 hog. No semi-automatic weapons will be allowed on this hunt.  RIFLE ONLY.  Lodging is not included.</p>
	</div> -->

</div>

		<div class="bookButton">
		<a href="mailto:clayton@dilleydove.com" class="btn btn-warning" role="button">Contact Us for Availability and Rates</a>
		</div>
<br>

<h5 class="lowFenceAdditional">
***WE DO NOT OVERBOOK DEER HUNTS. WE HUNT ON OVER 30,000 ACRES OF GAME-RICH TERRAIN, BUT SPOTS FILL UP QUICKLY DUE TO THE LIMITED AMOUNT OF HUNTS WE BOOK EACH SEASON. DON’T WAIT TO BOOK A LOW FENCE HUNT—CONTACT US NOW!***
</h5>

<br>
</div>
