<div class="container">

<h1 class="highFence">High Fence Hunts</h1>

<div class="row">
	<div class="col-md-8">
		<div class="highFenceText">
<p>Our 1,000 + acre high fence is home to some big, native South Texas Whitetail deer.  This property is under strict game management and year-round feeding programs.  Most of our hunting is done from strategically placed box blinds over feeders or crop fields.  This is a 1×1 guided hunt; your guide will provide transportation around the ranch and will accompany you in the blind.  Your guide will clean and quarter your deer for you.  This is an action packed hunt! You will be able to watch a large number of deer of all age classes interact with each other for a very enjoyable hunting experience.
</p>

<p>Once blood is drawn, the animal will be considered yours and payment will be due in full.  All efforts will be made to recover wounded game including the use of tracking dogs.  If dogs are needed to be called in, the hunter will be responsible for cost of dogs and handler.</p>

<h2 class="underlineThisHighFence">Weapons</h2>
<p>Rifles .243 or larger are required. 
</p>
<p>All hunters are required to confirm zero before the hunt at our on site range with guide present to confirm accuracy.</p>

<br>

<p>Meals and lodging are available for $125 per person per night for hunters and non hunting companions. On hunts for deer 150” and over, the meals and lodging are included in the hunt cost.</p>
<h2 class="underlineThisHighFence">High Fence Guided Deer Hunts Price List</h2>
<div class="highFencePrice">
	<ul>
		<li>Management 130” or under $1,500</li>
		<li>130” – 139” $2000</li>
		<li>140” – 149” $3500</li>
		<li>150” – 159” $5000</li>
		<li>160” – 169” $6500</li>
		<li>170” – 179” $8000</li>
		<li>180” + Price upon request</li>
	</ul>
	<h3 class="underlineThis">What's not included</h3>
			<ul>
				<li>Personal items (toiletries)</li>
				<li>Alcoholic beverages</li>
				<li>Gratuities for guides/staff</li>
			</ul>
	<br>
	<h5 class="highFenceAdditional">Don’t see a hunting package that meets your needs or budget? Give us a call and we can put together any package for any budget!</h5>
</div>



		</div>
		
		<div class="bookButton">
		<a href="mailto:clayton@dilleydove.com" class="btn btn-warning btn-lg" role="button">BOOK NOW!</a>
		</div>
	</div>
	<div class="col-md-4">
		<div class="highFenceImage">
			<%=image_tag("white_tail.jpg")%>
		</div>
	</div>

</div>
<br>


</div>