<div class="container">

<h1 class="highFence">Native Whitetail High Fence Hunts</h1>

<div class="row">
	<div class="col-md-8">
		<div class="highFenceText">
<p>Our 1,000 + acre high fence ranch is home to some enormous, native south Texas White-tailed deer.  This property is under strict game management and year-round feeding programs.  Most of these hunts take place in strategically placed box blinds over feeders or crop fields.
</p>

<p>This is a 1×1 guided hunt. Your professional guide will provide transportation across the ranch and will accompany you in the blind.  The guide will also clean and quarter your deer for you. </p>

<p>Our native Whitetail High Fence hunts are action packed and provide breathtaking encounters with some phenomenal game animals. You will be able to enjoy observing large numbers of deer in a variety of age classes, and watch as they interact with each other.  This makes for an unforgettable hunting experience.</p>


<h2 class="underlineThisHighFence">High Fence Guided Deer Hunts Price List</h2>
	<h4>***Native Whitetail High Fence Hunts include 2 days/2 nights of meals and lodging.***</h4>
<div class="highFencePrice">
	<ul>
		<li>Management 130” or under $1,500</li>
		<li>130” – 139” $2000</li>
		<li>140” – 149” $3500</li>
		<li>150” – 159” $5000</li>
		<li>160” – 169” $6500</li>
		<li>170” – 179” $8000</li>
		<li>180” + Price upon request</li>
	</ul>
	<br>
	<h5 class="highFenceAdditional">Don’t see a hunting package that meets your needs or budget? Give us a call and we can put together any package for any budget!</h5>
</div>



		</div>
		
		<div class="bookButton">
		<a href="mailto:clayton@dilleydove.com" class="btn btn-warning btn-lg" role="button">BOOK NOW!</a>
		</div>
	</div>
	<div class="col-md-4">
		<div class="highFenceImage">
			<%=image_tag("white_tail.jpg")%>
		</div>
	</div>

</div>
<br>


</div>