<div class="container">

<h1 class="varmintHuntHead">Varmint Hunts</h1>

<div class="row">
	<div class="col-md-6">
		<div class="varmintText">
<p>This is an action packed hunt where you will have the opportunity to call up coyotes, bobcats and fox. This is a 2x1 guided hunt that includes guides, calls, and transportation around the properties.  Our farms provide great opportunities to hunt these varmints by having all the food and water sources that keep these critters around.
</p>

		</div>
	<div>
		<h3 class="underlineThis">Varmint Hunt Pricing</h3>
		<div class="varmintPrice">
			<ul>
				<li>(Pricing)</li>
				<li>(Additional Info)</li>
				<li>(Additional Info)</li>
			</ul>
		</div>




	</div>
	</div>
		<br>
	<div class="col-md-6">
		<div class="varmintImage">
			<%=image_tag("varmint_usa.jpg")%>
		</div>
	</div>

</div>
<br>
<br>
<br>
<div class="row">
		<div class="bookButton">
		<a href="mailto:clayton@dilleydove.com" class="btn btn-warning btn-lg" role="button">BOOK NOW!</a>
		</div>
</div>

<br>
</div>
