<div class="container">
<h1 class="indexH1">Dilley Dove - The Best Hunts in South Texas for Over 12 Years</h1>
</div>

<div class="jumbotron">

</div>

<div class="container">
	<div class="homePageText">
<p>Dilley Dove has been providing hunters of all skill levels and ages with premier, year-round hunting opportunities in south Texas since 1998.  We own and operate an immense farming operation on roughly 10,000 acres in Frio and LaSalle counties, plus we have access to over 30,000 acres of some of the finest hunting grounds for dove, White-tailed deer, and turkey in the Lone Star State.  
</p>

<p>Our family owned and operated farm has been up and running since the early 1900’s.  Because we control this large scale operation which farms and produces peanuts, corn, milo and other grains, we are able to attract and manage large quantities of game on our properties. </p>

<p>Come hunting with us—your next memorable adventure awaits!
</p>
</div>

<div class="homePageBook">
	<p>
		Book Your Hunt Now! (830) 965-5260 | <a href="mailto:clayton@dilleydove.com">clayton@dilleydove.com</a>
	</p>
</div>

</div>